Flask
flask-login
flask-sqlalchemy
openai
requests
numpy
pandas
scipy
tqdm
sklearn
transformers
sentence-transformers
spacy
torch
unidecode
Levenshtein
markdown
reportlab
inflect
num2words
errant
faiss-cpu
PyMuPDF==1.22.3
whisper
