Flask
flask-login
flask-sqlalchemy
openai
requests
numpy
pandas
scipy
tqdm
scikit-learn
transformers
sentence-transformers
spacy
torch
unidecode
python-Levenshtein
markdown
reportlab
inflect
num2words
git+https://github.com/chrisjbryant/errant
git+https://github.com/openai/whisper.git
faiss-cpu
PyMuPDF==1.22.3
gunicorn
python-dotenv




